{% extends 'base.html.twig' %}

{% block title %}Sign up!{% endblock %}

{% block body %}
<form action="{{ path('app_regredir') }}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email"  name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <button class="btn btn-lg btn-primary" type="submit">
        Sign up
    </button>
</form>
    <form method="LINK" action="{{ path('app_main') }}">
        <button class="btn btn-lg btn-primary" type="submit">To main</button>
    </form>
{% endblock %}