{% extends 'base.html.twig' %}

{% block title %}Welcome to questionnare{% endblock %}

{% block body %}
    {% if not is_granted('ROLE_USER') %}

    <form method="LINK" action="{{ path('app_login') }}">
        <button class="btn btn-lg btn-primary" type="submit">Sign in/Sign out</button>
    </form>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <p>You are {{ role }}</p>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <form method="LINK" action="{{ path('app_admin') }}">
        <button class="btn btn-lg btn-primary" type="submit">Admin</button>
    </form>
    {% endif %}
{% endblock %}