{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <form method="LINK" action="{{ path('admin_create') }}">
        <button class="btn btn-lg btn-primary" type="submit">Create new question</button>
    </form>
    <form method="LINK" action="{{ path('app_main') }}">
        <button class="btn btn-lg btn-primary" type="submit">To main</button>
    </form>
{% endblock %}