{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <form action="{{ path('admin_createred') }}" method="post">

        <h1 class="h3 mb-3 font-weight-normal">Create question</h1>
        <label for="inputDesc" class="sr-only">Description</label>
        <input type="text" name="description" id="inputDesc" class="form-control" required  autofocus>
        <label for="inputAns" class="sr-only">Answer</label>
        <input type="text" name="answer" id="inputAns" class="form-control" required>
        <label for="inputId" class="sr-only">Questionnaire</label>
        <input type="text" name="idqu" id="inputId" class="form-control" required>

        <button class="btn btn-lg btn-primary" type="submit">
            Submit
        </button>
    </form>
    <form method="LINK" action="{{ path('app_admin') }}">
        <button class="btn btn-lg btn-primary" type="submit">Back</button>
    </form>
{% endblock %}